<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="content has-text-centered">
        <div class="column is-12">
          <h1 class="has-text-centered">Contato</h1>
          <li class="has-text-justified">Tel: XXXX-XXXX</li>
          <li class="has-text-justified">Email: blabla@blabla.com</li>
        </div>
      </div>
    </div>
  </div>
  <div id="rp-bottom">
    <div class="has-text-right">
    <p>Dhaniel Mazini &copy; 2010</p>
  </div>
  </div>

</footer>
