.bg-image{
    -webkit-filter: grayscale(100%) blur(2px) brightness(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) blur(2px) brightness(50%);
    background-image: url(https://loremflickr.com/1920/1080/house?random=25);
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;    
}